<ion-view view-title="Account">
	<ion-content>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-key"></i>
				    登录
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-person-add"></i>
                                    注册
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			
		     <a class="item item-icon-right" href="#">
                                    车次查询
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                                    票价查询
                <i class="icon ion-ios-arrow-right"></i>
            </a>
	   </div>
	</ion-content>
</ion-view>
